@page
@namespace appglobal
@model loginModel
@{
    string m_application_code = Request.Query["m_application_code"];
    string route_value = RouteData.Values["scope_feature"] == null ? "" : RouteData.Values["scope_feature"].ToString();
    ViewData["route_value"] = route_value;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="~/main/library/app-assets/vendors/jquery/3.5.1/jquery.min.js"></script>

    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/main/library/app-assets/asset_login/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/main/library/app-assets/asset_login/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/main/library/app-assets/asset_login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/main/library/app-assets/asset_login/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/main/library/app-assets/asset_login/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/main/library/app-assets/asset_login/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/main/library/app-assets/asset_login/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/main/library/app-assets/asset_login/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/main/library/app-assets/asset_login/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/main/library/app-assets/asset_login/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/main/library/app-assets/asset_login/css/main.css">
    <!--===============================================================================================-->

    @await Html.PartialAsync("page_header.cshtml")
    <title>login</title>
</head>
<body>

    <div class="limiter">
        <div class="container-login100" style="background-image: url(../main/library/app-assets/img/petrobnw.jpg);">

            <div class="wrap-login100">
                @Html.AntiForgeryToken()
                <form class="login100-form validate-form" id="login_form">  
                    <div style="text-align:center">
                        <img src="~/main/library/app-assets/img/logo.png" alt="logo" style="height: 100px;">
                    </div>

                    <span class="login100-form-title p-b-34 p-t-27">
                        Login
                    </span>

                    <input type="text" class="form-control" name="application_code" id="application_code" value="@m_application_code" style="display:none">

                    <div class="wrap-input100 validate-input" data-validate="Enter username">
                        @*<input class="input100" type="text" name="username" placeholder="Username">*@
                        <input type="text" class="input100 cannot-null" name="username" id="username" placeholder="Username">
                        <span class="focus-input100" data-placeholder="&#xf207;"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Enter password">
                        @*<input class="input100" type="password" name="pass" placeholder="Password">*@
                        <input type="password" class="input100 cannot-null" name="password" id="password" placeholder="Password">
                        <span class="focus-input100" data-placeholder="&#xf191;"></span>
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn" id="btn_login">
                            Login
                        </button>
                    </div>

                </form>
            </div>

        </div>
    </div>

    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="~/main/library/app-assets/asset_login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/main/library/app-assets/asset_login/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/main/library/app-assets/asset_login/vendor/bootstrap/js/popper.js"></script>
    <script src="~/main/library/app-assets/asset_login/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/main/library/app-assets/asset_login/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/main/library/app-assets/asset_login/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/main/library/app-assets/asset_login/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/main/library/app-assets/asset_login/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/main/library/app-assets/asset_login/js/main.js"></script>


</body>
@await Html.PartialAsync("page_footer.cshtml")
</html>
<script>
    function cek_login() {
        var login_data = {
            username: $("#username").val(),
            password: $("#password").val(),
            application_code: $("#application_code").val()
        }
        ajax_json_request("login", JSON.stringify(login_data), url_redirect, failed_ajax_request);
    }

    $("#btn_login").on("click", function () {
        invalid = validate_form("login_form") == 0 ? cek_login() : 0;
        return false;
    });
</script>